body {
    display: flex;
    justify-content: center;
}

#board {
    display: flex;
    justify-content: center;
    width: 75%;
    flex-wrap: wrap;
    gap: 1em;
}

.card {
    width: 6.35cm;
    height: 8.89cm;
    background: url(images/cardBack.jpg);
    background-size: cover;
    border: none;
    border-radius: 1rem;
    box-shadow: 2px 2px 5px;
    color:rgba(255, 255, 255, 0);
}


.forest[value="up"] {
    background: url(images/forest.png);
    background-size: cover;
}

.island[value="up"] {
    background: url(images/island.png) no-repeat;
    background-size: cover;
}

.plains[value="up"] {
    background: url(images/plains.png) no-repeat;
    background-size: cover;
}

.swamp[value="up"] {
    background: url(images/swamp.png) no-repeat;
    background-size: cover;
}

.mountain[value="up"] {
    background: url(images/mountain.png) no-repeat;
    background-size: cover;
}

